<!-- About Us Section -->
<section id="about-us" class="container py-5">
    <div class="row py-5">
        <div class="col-lg-7 pb-5 pb-lg-0 px-3 px-lg-5">
            <h4 class="text-secondary mb-3 text-center">About Us</h4>
            <h1 class="display-4 mb-4 text-center"><span class="text-primary">Personalized</span> <span class="text-secondary">Pet Services</span></h1>
            <h5 class="text-muted mb-3">
                <span style="font-style: italic;">A Pet Nose Best</span> is dedicated to providing top-notch pet care services tailored to meet the unique needs of every pet. With a passion for animals and a commitment to excellence, we offer a range of services designed to keep your furry friends happy, healthy, and well-cared for.
            </h5>
            <ul class="list-inline">
                <li><h5><i class="fa fa-check-double text-secondary mr-3"></i>Professional Pet Care Experts</h5></li>
                <li><h5><i class="fa fa-check-double text-secondary mr-3"></i>Flexible and Convenient Services</h5></li>
                <li><h5><i class="fa fa-check-double text-secondary mr-3"></i>Peace of Mind Guaranteed</h5></li>
            </ul>
        </div>
        <div class="col-lg-5">
            <div class="row px-3">
                <!-- Main image -->
                <div class="img-container" style="position: relative; width: 100%; padding-bottom: 80%;">
                    <img class="img-fluid" src="img/about-1.jpg" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover;" alt="Pet care expert with a dog at the beach">
                </div>
                <!-- Additional images -->
                <div class="col-6 p-0">
                    <img class="img-fluid w-100" src="img/about-2.jpg" alt="Dog enjoying a walk">
                </div>
                <div class="col-6 p-0">
                    <img class="img-fluid w-100" src="img/about-3.jpg" alt="Pet boarding facility">
                </div>
            </div>
        </div>
    </div>
</section>
