<!-- Contact Info Bar -->
<div class="container-fluid">
    <div class="row py-2 px-lg-5">
        <div class="col-lg-4">
            <div class="d-flex align-items-center">
                <div class="logo-container mr-3">
                    <img src="./img/logo.png" alt="A Pet Nose Best Logo" class="rounded-logo">
                </div>
                <h1 class="m-0 display-5 text-capitalize font-italic text-dark"><span class="text-primary">A Pet</span> Nose Best</h1>
            </div>
        </div>
        <!-- Company logo and contact information -->
        <div class="col-lg-8 text-center text-lg-right contact-info-container">
            <div class="d-inline-flex align-items-center">
                <!-- Operating hours -->
                <div class="d-inline-flex flex-column text-center pr-3 border-right">
                    <h6>Hours of Operation</h6>
                    <p class="m-0" style="color: #A57B60;">8:30AM - 6:00PM</p>
                </div>
                <!-- Email contact -->
                <div class="d-inline-flex flex-column text-center px-3 border-right">
                    <h6>Email Us</h6>
                    <p class="m-0">
                        <a style="color: #A57B60; list-style: none;" href="mailto:apetnosebest@gmail.com">apetnosebest@gmail.com</a>
                    </p>
                </div>
                <!-- Phone contact -->
                <div class="d-inline-flex flex-column text-center px-3">
                    <h6>Call Us</h6>
                    <p class="m-0">
                        <a style="color: #A57B60; list-style: none;" href="tel:+19544083625">954.408.3625</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Navigation Bar -->
<div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 py-lg-0 px-lg-5">
        <a href="index.html" class="navbar-brand d-flex align-items-center">
            <h1 class="m-0 display-5 text-capitalize font-italic text-white"><span class="text-primary">A Pet</span> Nose Best</h1>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
            <!-- Navigation Menu -->
            <div class="navbar-nav mr-auto py-0">
                <a href="index.html" class="nav-item nav-link">Home</a>
                <a href="index.html#about-us" class="nav-item nav-link">About</a>
                <a href="index.html#services" class="nav-item nav-link">Services</a>
                <a href="index.html#review" class="nav-item nav-link">Testimonials</a>
                <a href="https://www.picktime.com/cf341015-ae32-40b6-9498-ebfb588b7406" target="_blank" class="nav-item nav-link">Booking</a>
                <a href="index.html#instagram" class="nav-item nav-link">Gallery</a>
                <a href="contact.html" class="nav-item nav-link active">Contact</a>
            </div>
            <a href="https://www.picktime.com/cf341015-ae32-40b6-9498-ebfb588b7406" target="_blank" class="btn btn-lg btn-primary px-3 d-none d-lg-block">Free Meet & Greet</a>
        </div>
    </nav>
</div>
