<!-- Footer -->
<div class="container-fluid bg-dark text-white mt-0 py-5 px-sm-3 px-md-5 footer footer-co";">
    <div class="row pt-5">
        <!-- Company Description -->
        <div class="col-lg-4 col-md-12 mb-5">
            <div class="d-flex align-items-center mb-3">
                <div class="logo-container mr-3">
                    <img src="./img/logo.png" alt="A Pet Nose Best Logo" class="rounded-logo">
                </div>
                <h1 class="mb-3 display-5 text-capitalize text-white"><span class="text-primary">A Pet</span> Nose Best</h1>
            </div>
            <p class="m-0">A Pet Nose Best is committed to providing top-tier pet care services, ensuring that your furry friends receive the attention and love they deserve.</p>
        </div>
        <div class="col-lg-8 col-md-12">
            <div class="row">
                <!-- Contact Information -->
                <div class="col-md-4 mb-5">
                    <h5 class="text-primary mb-4">Get In Touch</h5>
                    <p>
                        <a href="https://www.google.com/maps?q=Las+Olas+Blvd,+Fort+Lauderdale,+FL" target="_blank" style="color: white;">
                            <i class="fa fa-map-marker-alt mr-2"></i> Las Olas Blvd, Fort Lauderdale, FL
                        </a>
                    </p>
                    <p>
                        <a href="tel:+19544083625" style="color: white;">
                            <i class="fa fa-phone-alt mr-2"></i>954.408.3625
                        </a>
                    </p>
                    <p>
                        <a href="mailto:apetnosebest@gmail.com" style="color: white;">
                            <i class="fa fa-envelope mr-2"></i>apetnosebest@gmail.com
                        </a>
                    </p>
                    <div class="d-flex justify-content-start mt-4">
                        <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" href="https://www.instagram.com/apetnosebest?igsh=cjBjZjBiM21zMzk2"><i class="fab fa-instagram"></i></a>
                        <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" href="https://www.tiktok.com/@apetnosebest"><i class="fa-brands fa-tiktok"></i></a>
                        <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" href="https://www.facebook.com/profile.php?id=61556928568108"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" href="mailto:apetnosebest@gmail.com"><i class="fas fa-envelope"></i></a>
                        <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" href="tel:+19544083625" id="call-link"><i class="fas fa-phone"></i></a>
                    </div>
                </div>
                <!-- Quick Links -->
                <div class="col-md-4 mb-5">
                    <h5 class="text-primary mb-4">Popular Links</h5>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-white mb-2" href="" class="footer-link"><i class="fa fa-angle-right mr-2"></i>Home</a>
                        <a class="text-white mb-2" href="#about-us" class="footer-link"><i class="fa fa-angle-right mr-2"></i>About Us</a>
                        <a class="text-white mb-2" href="#services" class="footer-link"><i class="fa fa-angle-right mr-2"></i>Our Services</a>
                        <a class="text-white mb-2" href="#review" class="footer-link"><i class="fa fa-angle-right mr-2"></i>Testimonials</a>
                        <a class="text-white mb-2" href="https://www.picktime.com/cf341015-ae32-40b6-9498-ebfb588b7406" target="_blank"><i class="fa fa-angle-right mr-2"></i>Book Us</a>
                        <a class="text-white mb-2" href="https://www.picktime.com/cf341015-ae32-40b6-9498-ebfb588b7406" target="_blank"><i class="fa fa-angle-right mr-2"></i>Free Meet & Greet</a>
                        <a class="text-white" href="contact.html"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Copyright -->
<div class="container-fluid text-white py-4 px-sm-3 px-md-5" style="background: #111111;">
    <div class="row">
        <div class="col-md-6 text-center text-md-left mb-3 mb-md-0">
            <p class="m-0 text-white">&copy;
                <a class="text-white font-weight-bold" href="#">A Pet Nose Best</a>. All Rights Reserved. Designed by <span style="font-weight: bold; font-style: italic;">Antoine Gaton</span>
                    <a href="https://www.linkedin.com/in/antoine-gaton/"></a><i class="fa fa-linkedin" style="color: #ffffff;"></i></a>
                    <a href="https://github.com/AntoineGaton"><i class="fa fa-github" style="color: #ffffff;"></i></a>
                </a>
            </p>
        </div>
    </div>
</div>
