<!-- Instagram Feed Section -->
<section id="instagram" class="container-fluid my-0 p-0 py-5 mb-0">
    <div class="d-flex flex-column text-center mb-5" style="margin-bottom: 1rem !important;">
        <h4 class="text-secondary mb-3">A Pet Nose Best Instagram</h4>
        <h1 class="display-4 m-0"><span class="text-primary">Updates</span> From The Pets</h1>
    </div>
    <div class="row pb-3">
        <!-- LightWidget Instagram Feed -->
        <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script>
        <iframe src="https://cdn.lightwidget.com/widgets/800565738f1455838fd62a1326832a98.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
    </div>
</section>
