<!-- Why Choose Us Section -->
<section id="why-choose-us" class="container">
    <div class="row align-items-center" style="justify-content:center;margin-top: 2rem;">
        <div class="col-lg-7 py-5 py-lg-0 px-3 px-lg-5">
            <h4 class="text-secondary mb-3">Why Choose Us?</h4>
            <h1 class="display-4 mb-4"><span class="text-primary">Special Care</span> On Pets</h1>
            <p class="mb-4">We treat every pet with the special care and attention they deserve, ensuring their happiness and well-being.</p>
            <div class="row py-2">
                <!-- Best In Industry -->
                <div class="col-6">
                    <div class="d-flex align-items-center mb-4">
                        <h1 class="flaticon-cat font-weight-normal text-secondary m-0 mr-3"></h1>
                        <h5 class="text-truncate m-0">Best In Industry</h5>
                    </div>
                </div>
                <!-- Emergency Services -->
                <div class="col-6">
                    <div class="d-flex align-items-center mb-4">
                        <h1 class="flaticon-doctor font-weight-normal text-secondary m-0 mr-3"></h1>
                        <h5 class="text-truncate m-0">Emergency Services</h5>
                    </div>
                </div>
                <!-- Special Care -->
                <div class="col-6">
                    <div class="d-flex align-items-center">
                        <h1 class="flaticon-care font-weight-normal text-secondary m-0 mr-3"></h1>
                        <h5 class="text-truncate m-0">Special Care</h5>
                    </div>
                </div>
                <!-- Customer Support -->
                <div class="col-6">
                    <div class="d-flex align-items-center">
                        <h1 class="flaticon-dog font-weight-normal text-secondary m-0 mr-3"></h1>
                        <h5 class="text-truncate m-0">Customer Support</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
